/* Initial style: keep the white screen */
body {
  opacity: 0;
  background-color: white;
  transition: opacity 3s, background-color 0s 3s;
}

/* Fade-in effect */
body.fade-in {
  opacity: 1;
  background-color: transparent;
}

/* Image hover effect */
.gallery-item img:hover {
  transform: scale(1.1);
}

/* Overlay for enlarged image */
.overlay {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  z-index: 1000;
}

.overlay.visible {
  visibility: visible;
  opacity: 1;
}

.overlay img {
  max-width: 90%;
  max-height: 90%;
}

.close {
  position: absolute;
  top: 20px;
  right: 40px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

/* "Back to Home" 이미지 버튼 스타일 */
#backToHome {
  position: fixed;
  bottom: 20px;
  right: 80px;
  width: 50px; /* 이미지 크기를 적절하게 조절 */
  height: 50px;
  cursor: pointer;
  z-index: 1000; /* 다른 요소보다 위에 표시되도록 */
  background-color: rgba(255, 255, 255, 0.8); /* 반투명 흰색 배경 */
  border-radius: 50%; /* 둥근 모서리 */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

#backToHome img {
  width: 70%;
  height: 70%;
}

#backToHome:hover {
  transform: scale(1.1); /* 호버 시 크기 증가 효과 */
}

@media (max-width: 768px) {
  #backToHome {
    right: 6vh;
  }
}
