body {
  background-color: #2e6a86;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden; /* 전체 페이지 스크롤을 방지합니다 */
}

.container {
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-section {
  position: sticky;
  top: 20px;
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile,
.sns-list,
.mini-projects {
  padding: 10px;
  border: 2px solid rgba(0, 0, 0, 0.1); /* 반투명의 검정색 윤곽선 */
  border-radius: 10px; /* 모서리를 둥글게 */
}

.profile-items {
  display: flex; /* 가로 정렬 */
  justify-content: space-between;
}

.profile-item,
.sns-item,
.mini-project-item {
  padding: 10px;
  text-align: center;
}

.sns-items,
.mini-projects-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-item {
  flex: 1; /* 각 아이템이 동일한 너비를 가지도록 설정 */
  margin: 0 5px; /* 아이템 간의 여백을 설정 */
}

.photo-gallery {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll; /* 수직 스크롤을 활성화 */
  padding-right: 10px;
}

.photo-gallery img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* 스크롤바를 숨깁니다 */
.photo-gallery {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

.photo-gallery::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라 */
}
