/* Set basic styles for the body */
body {
  font-family: 'M PLUS Rounded 1c', 'Meiryo', sans-serif;
  background-color: #2e6a86;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden; /* Prevents entire page scrolling */
  font-size: 0.9vw;
}

/* Container styling with initial fade-in properties */
.container {
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: space-between;
  padding: 1vw;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto; /* Enables vertical scrolling within the container */
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}

/* Container final state after fade-in */
.container.fade-in {
  opacity: 1;
  transform: translateY(0);
}

p {
  margin: 2px 0; /* Adds slight margin */
  font-size: 0.8em; /* Sets font size slightly smaller */
  opacity: 0.5; /* Sets overall opacity to 50% */
}

.fa-github {
  transition: color 0.5s ease; /* 색상이 0.5초에 걸쳐 천천히 변합니다 */
}

.fa-github:hover {
  color: orange !important;
}

/* Left section styling with initial fade-in properties */
.left-section {
  position: sticky;
  top: 20px;
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  min-height: 100%;
  overflow-y: auto; /* Enables vertical scrolling within the sections */
  opacity: 0;
  transition: opacity 1s ease;
}

/* Left section final state after fade-in */
.left-section.fade-in {
  opacity: 1;
}

.profile {
  margin-top: 0.5vw;
}

.common-box {
  padding: 0.5vw;
  border: 1px solid rgba(0, 0, 0, 0.1); /* Semi-transparent border */
  border-radius: 10px; /* Rounded corners */
}

.introduce {
  font-size: 0.9em;
}

.text-center {
  text-align: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 0.25vw;
}

.profile {
  display: flex; /* Align items horizontally */
  justify-content: space-between;
}

.right-align {
  display: flex;
  justify-content: flex-end; /* Align contents to the right */
  gap: 0.2vw; /* Set gap between icons */
  align-items: center; /* Vertically center contents */
}

.profile-item,
.sns-item,
.mini-project-item {
  display: flex; /* Flexbox for horizontal alignment */
  flex-direction: row; /* Align items horizontally */
  align-items: center; /* Vertically center items */
  margin: 0.2vw 0.2vw; /* Set margin between items */
}

.profile-detail {
  margin-left: 0.9vw;
}

/* Photo gallery styling with initial fade-in properties */
.photo-gallery {
  width: 77.77%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll; /* Enable vertical scrolling */
  padding-right: 0.5%;
  position: relative; /* For positioning the see-more button */
  z-index: 1; /* Ensure gallery is below see-more button */
  opacity: 0;
  transition: opacity 1s ease;
}

/* Photo gallery final state after fade-in */
.photo-gallery.fade-in {
  opacity: 1;
}

.photo-gallery img {
  border-radius: 10px;
}

/* Hide scrollbar */
.photo-gallery {
  -ms-overflow-style: none; /* IE */
  scrollbar-width: none; /* Firefox */
}

.photo-gallery::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.see-more-button {
  position: fixed; /* Fixed position to ensure the button is always visible */
  bottom: 4vh;
  right: 3vw;
  padding: 10px 20px;
  font-size: 1em;
  color: #000; /* Text color */
  background-color: #f0f0f0; /* Light gray background */
  text-decoration: none; /* Remove underline */
  border: none;
  border-radius: 20px; /* More rounded corners */
  cursor: pointer;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.5s ease; /* Smooth transition for opacity */
  z-index: 1000; /* Ensure button is above other content */
}

.see-more-button:hover {
  background-color: #000; /* Background turns black on hover */
  color: #fff; /* Text color turns white on hover */
}

.see-more-button.show {
  opacity: 1; /* Make the button visible */
}

.profile-picture {
  width: 3vw;
  height: 3vw;
  border-radius: 25%;
  object-fit: cover; /* Ensures image covers the area */
  display: block;
}

.sns-icon img {
  width: 2vw;
  height: 2vw;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.sns-icon img:hover {
  transform: scale(1.1);
}

.name,
.subname {
  text-align: left;
  margin-bottom: 5px;
  font-weight: 600;
}

.subname {
  font-size: 0.9em; /* Slightly smaller font size */
  opacity: 0.5; /* Set opacity to 50% */
}

.project-content {
  display: flex;
  align-items: center;
  gap: 10px; /* Set gap between image and text */
  font-size: 0.9em;
}

.project-image {
  width: 8vw; /* Set image width */
  height: auto; /* Maintain aspect ratio */
  max-height: 65px;
  object-fit: cover;
  border-radius: 5px; /* Rounded corners */
  transition: transform 0.3s ease;
}

.project-image:hover {
  transform: scale(1.05); /* Scale image by 10% */
}

/* Common fade-in effect for elements */
.fade-in-element {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

/* Final state for elements after fade-in */
.fade-in-element.visible {
  opacity: 1;
  transform: translateY(0);
}
