/* Import */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Oswald:400,300,700);

/* Variables */
:root {
  --background: #ffffff; /* Changed to white */
  --color-primary: #2e6a86;
  --color-light: #252827; /* Changed to dark color for text */
  --spacing: 50px;
  --radius: 4px;
  --date-width: 120px;
  --dot-border: 4px;
  --dot-size: 11px;
  --line-width: 4px;
  --font-title: 'M PLUS Rounded 1c', sans-serif;
  --font-text: 'Meiryo', sans-serif;
  --fade-duration: 1s;
  --image-width: 150px; /* 이미지 너비 설정 */
  --image-margin-left: 20px; /* 이미지 왼쪽 여백 설정 */
  --date-color: #252827; /* 날짜 폰트 색상 */
  --date-opacity: 0.5; /* 날짜 폰트 투명도 */
  --overlay-bg: rgba(0, 0, 0, 0.8);
  --overlay-padding: 20px;
}

/* Base */
body {
  background: var(--background);
  font-size: 16px;
  color: var(--color-light);
  font-family: var(--font-text);
}

strong {
  font-weight: 600;
}

h1 {
  font-family: var(--font-title);
  letter-spacing: 1.5px;
  color: var(--color-light);
  font-weight: 100;
  font-size: 2.4em;
  text-align: center;
  margin-top: var(--spacing);
}

#content {
  text-align: center;
  padding: var(--spacing);
}

/* Timeline */
.timeline {
  border-left: var(--line-width) solid var(--color-primary);
  border-bottom-right-radius: var(--radius);
  border-top-right-radius: var(--radius);
  background: rgba(0, 0, 0, 0.03); /* Changed to light background */
  color: rgba(0, 0, 0, 0.8); /* Changed to dark text */
  margin: var(--spacing) auto;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: var(--spacing);
  list-style: none;
  text-align: left;
  max-width: 700px;
  opacity: 0; /* Initially hidden */
  animation: fadeIn var(--fade-duration) ease-in-out forwards;
}

.timeline h3 {
  font-family: var(--font-title);
  letter-spacing: 1.5px;
  font-weight: 100;
  font-size: 1.4em;
}

.timeline .event {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1); /* Changed to dark border */
  padding-bottom: calc(var(--spacing) * 0.5);
  margin-bottom: var(--spacing);
  position: relative;
  opacity: 0; /* Initially hidden */
  transform: translateY(20px); /* Move down initially */
  animation: fadeUp var(--fade-duration) ease-in-out forwards;
  animation-delay: calc(var(--fade-duration) * var(--i));
}

.timeline .event-content {
  display: flex;
  align-items: flex-start;
}

.event-content {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.text-content {
  flex: 1;
  margin-right: 20px;
}

.text-content h3 {
  margin: 0;
  font-size: 1.5em;
}

.text-content p {
  margin: 0.5em 0 0 0;
  font-size: 1em;
}

.event-content img {
  max-width: 150px; /* 원하는 이미지 크기로 조정 */
  height: auto;
  margin-left: 20px; /* 이미지와 텍스트 사이의 간격 조정 */
}

.timeline .event-content img {
  width: var(--image-width);
  margin-left: var(--image-margin-left);
  border-radius: var(--radius);
  cursor: pointer;
}

/* 링크 스타일링 추가 */
.timeline .event-content a {
  display: inline-block;
  transition: transform 0.2s; /* 클릭 시 살짝 확대되는 효과 추가 */
}

.timeline .event-content a:hover {
  transform: scale(1.05); /* 마우스 오버 시 살짝 확대 */
}

.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .event::before,
.timeline .event::after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .event::before {
  left: calc(
    (var(--date-width) * -1.5) - var(--spacing) - var(--line-width) - var(--dot-size) - (var(--dot-border) * 2)
  );
  color: var(--date-color);
  content: attr(data-date);
  text-align: right;
  font-weight: 400;
  font-size: 0.9em;
  min-width: var(--date-width);
  opacity: var(--date-opacity); /* 투명도 적용 */
}

.timeline .event::after {
  box-shadow: 0 0 0 var(--dot-border) rgba(var(--color-primary), 1);
  left: calc(var(--spacing) * -1 - var(--line-width) - (var(--dot-size) * 0.35));
  background: rgba(0, 0, 0, 0.05); /* Changed to light background */
  border-radius: 50%;
  height: var(--dot-size);
  width: var(--dot-size);
  content: '';
  top: 5px;
}

/* Animations */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 오버레이 스타일 */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-bg);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay img {
  max-width: 90%;
  max-height: 90%;
  border-radius: var(--radius);
}

.overlay.visible {
  display: flex;
}

/* "Back to Home" 이미지 버튼 스타일 */
#backToHome {
  position: fixed;
  bottom: 20px;
  right: 80px;
  width: 50px; /* 이미지 크기를 적절하게 조절 */
  height: 50px;
  cursor: pointer;
  z-index: 1000; /* 다른 요소보다 위에 표시되도록 */
  background-color: rgba(255, 255, 255, 0.8); /* 반투명 흰색 배경 */
  border-radius: 50%; /* 둥근 모서리 */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

#backToHome img {
  width: 70%;
  height: 70%;
}

#backToHome:hover {
  transform: scale(1.1); /* 호버 시 크기 증가 효과 */
}
